.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.cart {
  cursor: pointer;
}

.cart:hover {
  color: limegreen;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer.mat-drawer-side {
  border-right: 2px solid #f2f2f2;
}
