.wrap {
  display: flex;
  justify-content: flex-start;
}

.example-card {
  max-width: 200px;
  margin: 0 10px;
  flex-basis: 20%;
}

img {
  max-height: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
